<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>echo</title>
    <script src="{% static 'jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'sshClient.js' %}"></script>
</head>
<body>
<h1>websocket demo</h1>
<input type="text" required name='msg'>
<button id='connect'>连接</button>
<button id='send'>发送</button>
<hr>
<h3>echo</h3>
<span id="content">内容</span>
<p class='msg'></p>
<button id="close">关闭</button>
</body>
{#<script>#}
{#    var content = $("#content");#}
{#    content.text("aaa");#}
{#    var ws = new WebSocket("ws://"+ document.domain +":8000/echo/");#}
{#    console.log(ws);#}
{#    $('.send').on('click', (e)=>{#}
{#        var msg = $('input[name=msg]').val();#}
{#        $('input[name=msg]').val('');#}
{#        console.log(msg);#}
{#        ws.send(msg)#}
{#    });#}
{#    ws.onmessage = function (evt){#}
{#        var msg = evt.data;#}
{#        console.log(msg);#}
{#        $('.msg').text(msg)#}
{#    };#}
{#    ws.onclose = function (event) {#}
{#        console.log("关闭websocket");#}
{#        ws.close();#}
{#    };#}
{#    $("#close").click(function () {#}
{#        if(ws){#}
{#            ws.close();#}
{#        }#}
{#    })#}
{#</script>#}
<script>
    $(function () {
        var client = new sshClient();

        function openTerminal(options) {
            // 创建websocket通道
            var content = $("#content");
            content.text("准备连接");
            client.connect(  //执行websocket接受拓展过的options参数
                $.extend(options,  // 对options这个字典进行拓展
                    {
                        onError: function (error) {
                            content.text('错误:  ' + error + '\r\n')
                        },
                        onConnect: function () {
                            content.text('\r');
                        },  // 连接后清空term中内容
                        onClose: function () {
                            content.text('对方断开了连接...');
                        },  // 可以term.destroy() 直接关闭终端
                        onData: function (data) {
                            content.text(data);
                            console.log("接收到数据");
                        },  // 这是接收的数据

                    })
            )

        }

        // 点击 连接 按钮
        $("#connect").click(function () {
                console.log("准备连接");

                options = {};
                // 根据目标主机id打开模拟终端
                openTerminal(options)
            }
        );

        $("#close").click(function () {
            client.send("close");
            console.log("关闭");

        });

        $("#send").click(function () {
            var msg = $('input[name=msg]').val();
            $('input[name=msg]').val('');
            console.log(msg);
            client.send(msg);

        })
    })
</script>

</html>