<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>command</title>
    <script src="{% static 'jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'sshClient.js' %}"></script>
    <script src="{% static 'csrf_ajax.js' %}"></script>
</head>
<body>
    <button id="btn">点我</button>

    <script>
        $(function () {
            $('#btn').click(function () {
                csrf_ajax.post({
                    'url': '/control/command/',
                    'data': {
                      'category': 2,
                      'id': 2,
                    },
                    'success': function () {
                        console.log('wtf1')
                    },
                    'fail': function () {
                        console.log('wtf2')
                    }


                })
            })
        })
    </script>
</body>

</html>