{% extends 'fort/base.html' %}
{% block title %}
    后台
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'fort/css/index.css' %}">
{% endblock %}

{% block content %}
    <section class="content-header">
        <h1>
            主机账号列表
            <small>Host Account List</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a>
            </li>
            <li class="active">主机账号列表</li>
        </ol>
    </section>
    <br>
    <section class="content">
        <div class="table-responsive">
            <table class="table table-hover table-bordered table-striped"
                   id="host_table">
                <thead>
                <tr>
                    <td>序号</td>
                    <td>主机名</td>
                    <td>ip地址</td>
                    <td>端口</td>
                    <td>用户名</td>
                    <td>操作</td>
                </tr>
                </thead>
                <tbody>
                {% for item in remote_user_bind_hosts %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ item.host.host_name }}</td>
                        <td>{{ item.host.ip }}</td>
                        <td>{{ item.host.port }}</td>
                        <td>{{ item.remote_user.remote_user_name }}</td>
                        <td>
                            <span class="hidden">{{ item.id }}</span>
                            <button type="button" class="btn btn-success">连接
                            </button>
                        </td>

                    </tr>
                {% empty %}
                    <tr>
                        没有可用账号
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
        <div id="term"></div>  <!-- term.js要求 -->
        <div id="disconnect">
            <button type="button" class="btn btn-danger">关闭连接...</button>
        </div>
    </section>


{% endblock %}

{% block script %}
    <script src="{% static 'AdminLTE/plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'AdminLTE/plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'fort/js/sshClient.js' %}"></script>
    <script src="{% static 'fort/js/term.js' %}"></script>
    <script>
        $(function () {
            $('#host_table').DataTable({  // datatables属性
                "paging": true, <!-- 允许分页 -->
                "lengthChange": true, <!-- 允许改变每页显示的行数 -->
                "searching": true, <!-- 允许内容搜索 -->
                "ordering": true, <!-- 允许排序 -->
                "info": true, <!-- 显示信息 -->
                "autoWidth": true
            });
        });
    </script>
    <script>
        $(function () {
            $("#disconnect").hide();  // 默认 关闭连接 按钮隐藏

            function openTerminal(options) {
                // 创建websocket通道
                var client = new sshClient();
                var term = new Terminal(  // 创建模拟终端term
                    {
                        cols: 80,
                        rows: 24,  // 官方标配
                        handler: function (key) {
                            client.send(key);
                        },  // 键盘输入内容发送
                        screenKeys: true,  // 快捷键可用
                        useStyle: true,  // 使用默认样式
                        cursorBlink: true,  //光标闪烁
                    });
                term.open();  //在$("#term")处打开模拟终端
                $(".terminal").detach().appendTo("#term");  // detach()移除所有子元素和文本
                term.write("开始连接");
                client.connect(  //执行websocket接受拓展过的options参数
                    $.extend(options,  // 对options这个字典进行拓展
                        {
                            onError: function (error) {
                                term.write('错误:  ' + error + '\r\n')
                            },
                            onConnect: function () {
                                term.write('\r');
                            },  // 连接后清空term中内容
                            onClose: function () {
                                term.write('对方断开了连接...');
                            },  // 可以term.destroy() 直接关闭终端
                            onData: function (data) {
                                term.write(data);
                            },  // 这是接收的数据

                        })
                )

            }

            // 点击关闭连接按钮时， 清除终端div中的内容，显示表格
            // 需要先在终端内容exit退出ssh连接!!!!
            $("#disconnect button").click(function () {
                $("#term").empty();  // 清空term内容
                $("div.table-responsive").show();  // 显示整个table
                $("#disconnect").hide();  // 再隐藏 关闭连接 按钮
            });

            // 点击 连接 按钮
            $("#host_table button").click(function () {
                    $('div.table-responsive').hide();  // 隐藏表格
                    $('#disconnect').show();  // 显示 关闭连接 按钮

                    var desc_id = $(this).siblings().text();
                    console.log(desc_id);
                    options = {
                        desc_id: desc_id,
                    };
                    // 根据目标主机id打开模拟终端
                    openTerminal(options)
                }
            )
        })
    </script>
{% endblock %}