{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>监控系统</title>
    <link rel="stylesheet"
          href="{% static 'bootstrap3/css/bootstrap.min.css' %}">
</head>
<body>
<div class="container">
    <div class="row">
        {% include 'common/navbar_top.html' %}
        <p class="h1 text-center">欢迎来到温湿度监控系统</p>
        <img src="{% static 'picture/index.jpg' %}" class="img-responsive" alt="Responsive image">
        <div class="jumbotron">
            <p>Photo by Mikhail Vasilyev on Unsplash</p>
        </div>

    </div>
</div>
<script src="{% static 'jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'bootstrap3/js/bootstrap.min.js' %}"></script>
</body>
</html>