{% extends 'show_base.html' %}
{% block sensor_name %}
    {% if category_id == 2 %}
        温度传感器
    {% else %}
        湿度传感器
    {% endif %}
{% endblock %}

{% block head_content %}{% endblock %}

{% block div_content %}
    {% if all_temp_sensor_info %}
        <span class="label label-default">当前传感器个数</span>
        <span class="badge">{{ sensor_count }}</span>
        <br>
        <br>
    {% endif %}
    <ul class="list-unstyled menu">
        {% for item in all_temp_sensor_info %}
            <li>
                <input type="button" value="{{ item.terminal_name }}"
                       class="btn btn-info" style="width: 80%;">
                <ul class="list-unstyled" style="display: none"
                    data-category-id="{{ item.terminal_category.category_id }}"
                    data-terminal-id="{{ item.terminal_id }}">  <!-- 不显示 -->
                    <li class="btn btn-default _auto">动态获取</li>
                    <li class="btn btn-default _month">按月分布</li>
                    <li class="btn btn-default _week">最近一周</li>

                    <li>
                        <div id="{{ item.terminal_category.category_id }}-{{ item.terminal_id }}"
                             style="width: 100%;height:300px;display: none"></div>
                    </li>

                </ul>
            </li>

        {% endfor %}
    </ul>


{% endblock %}

{% block script_content %}
    <script src="{% static 'common.js' %}"></script>
    <script src="{% static 'echarts.js' %}"></script>
    <script src="{% static 'sshClient.js' %}"></script>
    <script>
        $(function () {
            window.the_echarts_option = {
                title: {
                    text: ''
                },
                tooltip: {},
                xAxis: {
                    data: []
                },
                yAxis: {},
                series: [{
                    name: '',
                    type: 'bar',
                    itemStyle: {
                        normal: {
                            label: {
                                show: true, //开启显示
                                position: 'top', //在上方显示
                                textStyle: { //数值样式
                                    color: 'black',
                                    fontSize: 10
                                }
                            }
                        }
                    },
                    data: []
                }]
            }
        });
    </script>
    <script>
        $(function () {
            $(".menu li input").siblings().slideUp();  // 各个子项全部拉起
            $(".menu li input").click(function () {
                /*
                当前input标签的下一个同级元素先停止特效，然后进行特效拉下；
                父级元素(li标签)的其他同级标签(li)的孩子元素为ul标签进行特效拉上
                 */
                $(this).next().stop().slideToggle().parent().siblings().children('ul').slideUp();
            });
        })
    </script>

    <script>
        $(function () {
            $("._month").click(function () {
                window.finish_ws = 1;  // 关掉ws

                // 获得ul上携带的属性
                let category_id = $(this).parent().attr('data-category-id');
                let terminal_id = $(this).parent().attr('data-terminal-id');

                let target_div = category_id + '-' + terminal_id;  // echarts容器div

                csrf_ajax.get({
                    url: '/show/data/month',
                    data: {
                        'category_id': category_id,
                        'terminal_id': terminal_id,
                    },
                    success: function (ret) {

                        focus_echarts_div(target_div);  // 显示echarts的dom，移动到该位置

                        // 基于准备好的dom，初始化echarts实例
                        let myChart = echarts.init(document.getElementById(target_div));

                        myChart.setOption(window.the_echarts_option);  // 设置初始样式
                        myChart.showLoading();  // 显示echarts loading

                        if (ret['code'] === 200) {
                            myChart.hideLoading();  // 关闭echarts loading

                            if (is_data_get(ret)) {
                                alert('no data');
                                hide_echarts_div(target_div);

                            } else {
                                myChart.setOption({
                                    title: {
                                        text: '湿度每月分布'
                                    },

                                    xAxis: {
                                        data: ret.months
                                    },
                                    series: [{
                                        // 根据名字对应到相应的系列
                                        name: '湿度月分布',
                                        data: ret.sensor_data_average_list,
                                    }]
                                });
                            }


                        }
                    }
                });

            });
        })
    </script>

    <script>
        $(function () {
            $("._week").click(function () {
                window.finish_ws = 1;  // 关掉ws

                let category_id = $(this).parent().attr('data-category-id');
                let terminal_id = $(this).parent().attr('data-terminal-id');

                let target_div = category_id + '-' + terminal_id;

                csrf_ajax.get({
                    url: '/show/data/cur_week',
                    data: {
                        'category_id': category_id,
                        'terminal_id': terminal_id,
                    },
                    success: function (ret) {

                        focus_echarts_div(target_div); // 显示echarts数据和移动到该位置

                        // 基于准备好的dom，初始化echarts实例
                        let myChart = echarts.init(document.getElementById(target_div));

                        // 给该dom设置属性
                        myChart.setOption(window.the_echarts_option);

                        myChart.showLoading();

                        if (ret['code'] === 200) {
                            myChart.hideLoading();

                            if (is_data_get(ret)) {  // 全部无数据
                                alert("no data");
                                hide_echarts_div(target_div);
                            } else {
                                myChart.setOption({
                                    title: {
                                        text: '湿度最近一周分布'
                                    },

                                    xAxis: {
                                        data: ret['dates']
                                    },
                                    series: [{
                                        // 根据名字对应到相应的系列
                                        name: '湿度最近一周分布',
                                        data: ret['sensor_data_average_list'],
                                    }]
                                });
                            }


                        }
                    }
                });

            })
        })
    </script>

    <script>
        $(function () {
            var client = new wsClient();   // 创建一个ws对象

            $("._auto").click(function () {
                // 执行ws通信
                function start_communicate(options, echart_dom_obj) {
                    console.log("准备连接");
                    client.connect( // 执行ws对象的connect方法
                        $.extend(   // 扩展参数
                            options,  // 目标参数
                            {
                                onError: function (error) {
                                    console.log("错误: " + error);
                                },
                                onConnect: function () {
                                    console.log("尝试连接");
                                },
                                onClose: function () {
                                    console.log("断开连接")
                                },
                                onData: function (data) {
                                    // wsClient对象收到数据后，会回调onData函数
                                    myChart.hideLoading();
                                    echart_dom_obj.setOption({
                                        xAxis: {
                                            data: data.times,
                                        },
                                        series: [{
                                            data: data.data,
                                        }]
                                    })
                                }
                            }
                        )
                    );
                }

                let category_id = $(this).parent().attr('data-category-id');
                let terminal_id = $(this).parent().attr('data-terminal-id');

                let target_div = category_id + '-' + terminal_id;

                focus_echarts_div(target_div); // 显示echarts数据和移动到该位置
                // 基于准备好的dom，初始化echarts实例
                let myChart = echarts.init(document.getElementById(target_div));
                // 给该dom设置属性
                let option = {
                    xAxis: {
                        type: 'category',
                        boundaryGap: false,
                        data: []
                    },
                    yAxis: {
                        type: 'value'
                    },
                    series: [{
                        data: [],
                        type: 'line',
                        areaStyle: {}
                    }]
                };
                myChart.setOption(option);

                let options = {};
                options.category_id = category_id;
                options.terminal_id = terminal_id;

                // 开始执行ws通信
                start_communicate(options, myChart);

                var timer = setInterval(function () {
                    console.log("定时请求新的数据");
                    if (window.finish_ws === 1){
                        console.log("切换其他功能，关闭连接");
                        window.finish_ws = 0;
                        clearInterval(timer);
                    }
                    // 判断websocket对象的状态
                    else if (client._ws_obj.readyState === WebSocket.CLOSED) {
                        console.log("已经断开连接，无法通信");
                        window.finish_ws = 0;
                        clearInterval(timer);
                    } else {
                        client.send("发了一段数据");
                    }
                }, 1000)
            });
        })
    </script>
{% endblock %}