{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>led控制</title>
    <link rel="stylesheet"
          href="{% static 'bootstrap3/css/bootstrap.min.css' %}">
    {% block head_content %}{% endblock %}
</head>
<body>

<div class="container">

    <div class="row" style="background: #ededed">
        {% include 'common/navbar_top.html' %}
        <div class="jumbotron">
            <h1>{% block sensor_name %}{% endblock %}</h1>
            <p>点击以下按钮，可以查看各个传感器的状态</p>
            <p><a class="btn btn-danger btn-lg" href="#"
                  role="button" id="status">无法连接网关</a></p>
        </div>

        <div class="col-md-8 col-md-offset-2">
            {% block div_content %}
            {% endblock %}
        </div>
    </div>
</div>
<script src="{% static 'jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'csrf_ajax.js' %}"></script>
<script src="{% static 'bootstrap3/js/bootstrap.min.js' %}"></script>
{% block script_content %}{% endblock %}
<script src="{% static 'wsClient.js' %}"></script>
<script>
    $(function () {
        var client = new wsClient();   // 创建一个ws对象
        var gate_way_status = $("#status");

        // 执行ws通信
        function start_communicate(options) {
            client.connect( // 执行ws对象的connect方法
                $.extend(   // 扩展参数
                    options,  // 目标参数
                    {
                        onError: function (error) {
                            console.log("错误: " + error);
                        },
                        onConnect: function () {
                            console.log("连接成功");
                        },
                        onClose: function () {
                            console.log("断开连接")
                        },
                        onData: function (data) {
                            // wsClient对象收到数据后，会回调onData函数
                            var status = data.data;
                            if (status) {
                                gate_way_status.addClass("btn-success").removeClass("btn-danger");
                                gate_way_status.text('成功连接网关')

                            } else {
                                gate_way_status.addClass("btn-danger").removeClass("btn-success");
                                gate_way_status.text('无法连接网关')
                            }

                        }
                    }
                )
            );
        }

        let options = {};
        options.file_path = '/exchange/ask_status/pi/';

        // 开始执行ws通信
        start_communicate(options);

        var timer = setInterval(function () {
            // 如果被外部点击，中断连接
            if (window.finish_ws === 1) {
                window.finish_ws = 0;
                clearInterval(timer);
            }
            // 判断websocket对象的状态，如果被服务器关闭，终端连接
            else if (client._ws_obj.readyState === WebSocket.CLOSED) {
                window.finish_ws = 0;
                clearInterval(timer);
            } else {
                client.send("get_pi_status");
            }
        }, 1000)

    })
</script>

</body>
</html>