{% extends 'show_base.html' %}
{% block sensor_name %}
    湿度传感器
{% endblock %}

{% block head_content %}{% endblock %}

{% block div_content %}
    {% if all_temp_sensor_info %}
        <span class="label label-default">当前传感器个数</span>
        <span class="badge">{{ sensor_count }}</span></a>
        <br>
        <br>
    {% endif %}
    {% for item in all_temp_sensor_info %}
        <div style="margin-bottom: 10px;">
            <a href="#"><button class="btn btn-info sensor"
                                data-category-id="{{ item.terminal_category.category_id }}"
                                data-terminal-id="{{ item.terminal_id }}"
                 style="width: 50%;">{{ item.terminal_name }}
            </button></a>
        </div>
    {% endfor %}
{% endblock %}

{% block script_content %}
    <script>
    $(function () {
        $(".sensor").click(function () {
            var div = $(this);
            var category_id = div.attr('data-category-id');
            var terminal_id = div.attr('data-terminal-id');
            window.open('/show/hum/'+category_id+'/'+terminal_id+'','_blank');


        })
    })
    </script>
{% endblock %}